/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}

*/
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

  img{
  width:300px;
  height:213px;
 }
 #root a ._text_gwn0a_37{
  width:278px;
  color: white;
 }
 
 #root ._container_18xk7_1 a > ._text_18xk7_37{
  width:192px;
  transform:translatex(47px) translatey(21px);
 }
h2{
  color:#ffffff;
  text-shadow:none;
 }
 
 /* Heading */
 h3{
  color:#ffffff;
 }
 
 label {
  color:#ffffff;
 }
 