.content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/YnqkDer8nKZXMz1BdI/giphy.gif");
    background-size: contain;
}