.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button{
    width:125px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}